.wd-black-bold{
    font-weight: bold;
    color: black;
}

.position-relative {
    position: relative;
  }
  
  #wd-assignments-editor .form-label {
    font-weight: bold;
  }
  
  #wd-assignments-editor .form-control {
    margin-bottom: 1rem;
  }
  
  #wd-assignments-editor .form-check {
    margin-bottom: 0.5rem;
  }
  
  #wd-assignments-editor .row .col-sm-10 {
    padding-left: 0;
  }
  
  #wd-assignments-editor .row .col-sm-2 {
    padding-right: 0;
  }
  
  #wd-assignments-editor .row {
    margin-bottom: 1rem;
  }
  